@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">To-do-List</h1>
    <a href="@Url.Action("GetAccount", "Account")" class="btn btn-primary">Login</a>
</div>
